@page
@model RegisterConfirmationModel
@{
}

<div style="margin-top: 100px" class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <p style="height: 50px;" class="btn btn-danger">Xác thực email để đăng nhập</p>
        </div>
    </div>
</div>